{% extends 'base.html.twig' %}

{% block title "Recette : " ~ recipe.title %}


{% block body %}
    <h1>EDITION : {{ recipe.title  | upper }}</h1>


    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.duration) }}

        {{ form_row(form.submit, { 'label': 'Modifier' }) }}
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}